
/** css for info page starts here*/
.Info_appbar {
  background-color: #1A8EC2;
  display: flex;
}
.info_bar {
  flex: auto;
  display: flex;
}

p{
  font-size: 1rem;
  color: antiquewhite;

}
.sliderImageDiv {
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}


@media (max-width: 768px) {
  /* … */
  .Info_appbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  p {
     font-size: 1rem;
  }
}